<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Block all access to this folder -->
    <handlers>
      <clear />
      <add name="BlockAll" path="*" verb="*" type="System.Web.HttpNotFoundHandler" />
    </handlers>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/index.html" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>
